/* @font-face {
 font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
    src:url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
} */


h1 {
    color: darkgrey;
}

#todolist {
    border: 1px gainsboro;
}

.todolist-body {
    /* border: solid 1px rgb(228, 223, 223);  */
    width: 60%;
    box-shadow: 0px 4px rgb(228, 223, 223);
}

.back {
    /* border: solid 1px rgb(214, 209, 209); */
    width: 59%;
    box-shadow: 0px 4px rgb(228, 223, 223);
}

ul {
    list-style-type: none;
}

.list-group-item{
    font-family: Handlee;
}

.list-group-item,
#input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0%;
    font-size: 1.5rem;
   }

.btn-close {
    display: none;
}

.list-group-item:hover .btn-close {
    display: inline-block;
}
.counter{
    margin: 10px;
font: helvetica, 0.5rem;
text-align: start;

}