/* @font-face {
 font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
    src:url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
} */


h1 {
    color: darkgrey;
}

#todolist {
    font-family: "Klee One", cursive
}

.todolist-body {
    border: solid 1px rgb(228, 223, 223);  
    width: 50%;
    box-shadow: 5px 5px rgb(241, 240, 240), 10px 10px rgb(216, 215, 215), 15px 15px rgb(209, 209, 209);
  }


ul {
    list-style-type: none;
}


.list-group-item,
#input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    font-size: 1.5rem;
   }

.btn-close {
    display: none;
}

.list-group-item:hover .btn-close {
    display: inline-block;
}
.counter{
    margin: 5px;
font: helvetica ;
font-size: 0.75rem;
text-align: start;
color: darkgrey;

}